@charset "utf-16";
@import url(http://fonts.googleapis.com/css?family=Lato:700|Open+Sans);

html {
	height: 100%;
	background-attachment: fixed;
	background-image: url(../img/xr.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: scroll;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	color: black;
	font-size: 1rem;
}

h1, h2, h3 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
}

footer {
	margin: 0 auto;
	text-align: center;
	max-width: 250px;
	font-size: 0.75em;
}

p {
	text-align: center;
	background: white;
	font-size: 0.75em;
}
a {
	text-decoration: none;
	color: black;
	background: lightgoldenrodyellow;
}
a:hover, a:active {
	background: lightslategray;
}
#map {
	height: 400px;
}
.container {
	margin: 0 auto;
	max-width: 760px;
	font-size: 2em;
}
.content {
	margin: 0;
}

.card {
	height: 200px;
	width: 100%;
	border: 1px solid black;
	background-color: blue;
	transform: translate(0px, 0px);
}
.dropzone {
	width: 32%;
	border: dashed 1px black;
	display: inline-block;
	height: 200px;
	margin: 1px;
	transition: background-color 0.2s;
}
.drop-target {
	background-color: #29e;
	border-color: #fff;
	border-style: solid;
}
.holding-area {
	width: 32%;
	border: dashed 1px black;
	display: inline-block;
	height: 200px;
}

.title {
	font-family: "Lato", sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	background: white;
}

.title, .typed-element {
	min-height: 300px;
}

.typed-cursor {
	/*opacity: 1;
	-webkit-animation: blink 1s infinite;
	-moz-animation: blink 1s infinite;
	animation: blink 1s infinite;
	font-size: 2em;*/
	display: none;
}
@keyframes blink {
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink {
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink {
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

@media only screen and (max-width: 667px) {
	body {
		font-size: 0.6rem;
	}
	.title, .typed-element {
		min-height: 150px;
	}
}