@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:700|Open+Sans);
html {
	height: 100%;
	background-attachment: fixed;
	background-image: url(../img/xr.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 16px;
}
body {
	height: 100%;
	font-family: "Open Sans", sans-serif;
	margin: 0;
	color: black;
	font-size: 1.5rem;
}
h1, h2, h3 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	background: rgba(255,255,255,0.8);
	margin: 0;
	text-align: center;
}
footer {
	margin: 0 auto;
	margin-top: 1em;
	text-align: center;
	font-size: 0.5em;
}
p {
	text-align: center;
	background: rgba(255,255,255,0.8);
	margin: 0;
}
a {
	text-decoration: none;
	color: black;
	background: lightgoldenrodyellow;
}
a:hover, a:active {
	background: lightslategray;
}
#map {
	height: 360px;
}
.container {
	margin: 0 auto;
	max-width: 760px;
}
.name {
	font-weight: bold;
}
.title {
	font-family: "Lato", sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background: rgba(255,255,255,0.8);
}
@media only screen and (max-device-width: 667px) {
	html {
		font-size: 0.7rem;
		background-image: none;
		background-color: gray;
	}
}