@charset "utf-8"
@import url(http://fonts.googleapis.com/css?family=Lato:700|Open+Sans);

body {
	font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
}

.container {
	margin: 0 auto;
	max-width: 760px;
	font-size: 2em;
}

.title {
	font-family: "Lato", sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.title, .typed-element {
	display: inline;
}

.typed-cursor{
	opacity: 1;
	-webkit-animation: blink 1s infinite;
	-moz-animation: blink 1s infinite;
	animation: blink 1s infinite;
}
@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}
@-moz-keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}